In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

Load data

In [2]:
dataOrg=pd.read_csv("decisiontreeAdultIncome.csv")

In [9]:
aduInco=dataOrg.copy()

Preliminery analysis of data

In [11]:
aduInco.head()

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K

In [12]:
aduInco.isnull().sum()

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [14]:
aduInco.dtypes

age                int64
wc                object
education         object
marital status    object
race              object
gender            object
hours per week     int64
IncomeClass       object
dtype: object

In [15]:
aduInco=pd.get_dummies(aduInco, drop_first=True)

In [18]:
x=aduInco.drop(['IncomeClass_ >50K'],axis=1)

In [20]:
y=aduInco.iloc[:,-1]

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.7,random_state=123)

In [25]:
#decision tree classifier

In [37]:
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_pre=dtc.predict(x_test)
deScore=dtc.score(x_test,y_test)
deconfmat=confusion_matrix(y_test,y_pre)

In [39]:
rfc=RandomForestClassifier()

In [40]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [41]:
y_prerfct=rfc.predict(x_test)

In [42]:
rescore=rfc.score(x_test,y_test)

In [43]:
reconfmat=confusion_matrix(y_test,y_prerfct)

In [44]:
deconfmat,reconfmat

(array([[8886, 1348],
        [1844, 1773]], dtype=int64),
 array([[8936, 1298],
        [1595, 2022]], dtype=int64))